@model E_Comerce.Ventas

@{
    ViewBag.Title = "Finalizar";
    Layout = null;
}

<h2>Finalizar</h2>

<h5>Deseas finalizar la venta?</h5>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success"/>
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
