@{
    ViewBag.Title = "SeleccionarEntrega";
    Layout = "~/Views/Shared/LayoutCarrito.cshtml";
}

<h2>Selecciona tu ubicacion.</h2>
<br />
<br />
<div class="container">
    <div class="card">
        <div class="card-header text-bg-secondary text-center">
            <h3>Selecciona tu ubicacion para realizar la entrega</h3>
        </div>
        <div class="card-body">
            <form action="@Url.Action("SeleccionarEntrega","Carrito")" method="post">
                <div class="mb-3">
                    <label class="form-label">Departamento</label>
                    <select class="form-select" id="Departamento">
                        @foreach (var item in ViewBag.Departamentos)
                        {
                            <option value="@item.ID_Departamento">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Municipio</label>
                    <select id="ID_Municipio" name="ID_Municipio" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
@section Scripts{
    <script>
        var cboDepartamento = document.getElementById("Departamento");
        cboDepartamento.addEventListener("change", Refresh);
        Refresh();
        function Refresh() {
            fetch("@Url.Content("~/LugaresEntrega/LlenarMun")" + "?id=" + cboDepartamento.value)
                .then(function (result) {
                    if (result.ok) {
                        return result.json();
                    }
                })
                .then(function (data) {
                    console.log(data);
                    cbo = document.getElementById("ID_Municipio");
                    cbo.innerHTML = "";
                    data.forEach(function (element) {
                        let op = document.createElement("option");
                        op.appendChild(document.createTextNode(element.Name));
                        op.value = element.Id;

                        cbo.appendChild(op);
                    })
                })

        }
    </script>
}